/*Stylesheet para o site da DesignDigital*/

.banner{
	position: relative;
}

.blocotexto{
	position: absolute;
	top: 40px;
	left: 0;
	width: 400px;
	background-color: #364848;
	opacity: 0.8;
	color: #FFFEFF;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}